@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font */
  --font-family-primary: "freight-sans-pro", sans-serif;
  --font-family-secondary: "brandon-grotesque", sans-serif;
  --font-family-tertiary: "freight-text-pro", serif;
}

* {
  @apply box-border;
}

body {
  @apply font-body;
}

.main > * {
  grid-column: 2 / -2;
}

.main > .full-width {
  grid-column: 1 / -1;
}

img {
  @apply max-w-full;
}

.blog-post-body {
  @apply text-cornflower-blue;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
  @apply font-blog;
  @apply mb-16;
  @apply font-medium;
  @apply text-navy-blue;
}

.blog-post-body h2 {
  @apply text-3xl;
}

.blog-post-body h3 {
  @apply text-2xl;
}

.blog-post-body p,
.blog-post-body ul,
.blog-post-body ol {
  @apply text-xl;
  @apply font-normal;
}

.blog-post-body p {
  @apply m-0;
}

.blog-post-body p + p {
  @apply mt-8;
}

.blog-post-body p + h1,
.blog-post-body p + h2,
.blog-post-body p + h3 {
  @apply mt-8;
}

.blog-post-body ul,
.blog-post-body ol {
  margin: var(--spacing-large) 0;
  @apply my-8;
  @apply mx-0;
}

.blog-post-body ul {
  @apply list-disc;
}

.blog-post-body ol {
  @apply list-decimal;
}

.blog-post-body a {
  @apply text-navy-blue;
  @apply underline;
}

.fa-twitter {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
}
.fa-twitter:hover {
  @apply text-white;
}

.fa-youtube {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
}

.fa-youtube:hover {
  @apply text-white;
}

.fa-instagram {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
}

.fa-instagram:hover {
  @apply text-white;
}

.fa-linkedin-in {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
}

.fa-linkedin-in:hover {
  @apply text-white;
}

.fa-github {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
}

.fa-github:hover {
  @apply text-white;
}

/* Hide fonts until webfonts have loaded to avoid FOUT */
.wf-loading {
  @apply invisible;
}
